In [12]:
import fix_yahoo_finance as yf
import pandas as pd
import requests
import pymongo
import datetime

In [60]:
file_path = "Resources/Unemployment_rate.csv"
unemployment_df = pd.read_csv(file_path)
unemployment_df.columns = ['Date','Unemployment_Rate']

In [61]:
unemployment_df.head()

         Date  Unemployment_Rate
0  1948-01-01                3.4
1  1948-02-01                3.8
2  1948-03-01                4.0
3  1948-04-01                3.9
4  1948-05-01                3.5

In [62]:
unemployment_df['Date'] = unemployment_df['Date'].astype('datetime64[ns]')

In [63]:
unemployment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 856 entries, 0 to 855
Data columns (total 2 columns):
Date                 856 non-null datetime64[ns]
Unemployment_Rate    856 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 13.5 KB

In [64]:
unemployment_df = unemployment_df.set_index('Date')

In [65]:
unemployment_df.head()

            Unemployment_Rate
Date
1948-01-01                3.4
1948-02-01                3.8
1948-03-01                4.0
1948-04-01                3.9
1948-05-01                3.5

In [66]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [67]:
# Define database and collection
db = client.EcoParameters_db

db.Unemployment_rate.drop()
collection = db.Unemployment_rate

In [68]:
unemployment_df = unemployment_df.resample('QS').mean()
#data.reset_index(inplace=True)

In [74]:
unemployment_df.dtypes

Date                 datetime64[ns]
Unemployment_Rate           float64
dtype: object

In [71]:
unemployment_df = unemployment_df.reset_index()

In [77]:
list_dict_Unemployment = []
for item, row in unemployment_df.iterrows():
    dict_row ={        
        "Date" : row["Date"].strftime('%Y-%m-%d'),
        "Unemployment_Rate" : row["Unemployment_Rate"]        
                }
    list_dict_Unemployment.append(dict_row)
db.Unemployment_rate.insert_many(list_dict_Unemployment)