# Finance Companies Stock Data

In [1]:
import fix_yahoo_finance as yf
import pandas as pd
import requests
import pymongo
import datetime

In [2]:
# Extracted from https://www.nasdaq.com/screening/company-list.aspx
file_path = "Resources/companylist.csv"
df = pd.read_csv(file_path)
df = df[["Symbol","Name","LastSale","MarketCap","IPOyear","Sector","industry","Summary Quote"]]

df = df.loc[df["Sector"]=="Finance"]
df = df.iloc[0:75,:]
start_date = "2004-05-03"
end_date = "2019-05-03"

df.head()

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote
20,ABM,ABM Industries Incorporated,38.360,$2.54B,NaN,Finance,Diversified Commercial Services,https://www.nasdaq.com/symbol/abm
40,AEB,Aegon NV,22.800,NaN,NaN,Finance,Life Insurance,https://www.nasdaq.com/symbol/aeb
41,AED,Aegon NV,25.550,NaN,NaN,Finance,Life Insurance,https://www.nasdaq.com/symbol/aed
42,AEG,Aegon NV,5.230,$10.71B,NaN,Finance,Life Insurance,https://www.nasdaq.com/symbol/aeg
43,AEH,Aegon NV,25.767,NaN,NaN,Finance,Life Insurance,https://www.nasdaq.com/symbol/aeh

In [3]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [4]:
# Define database and collection
db = client.EcoParameters_db

db.StockPrice_Finance.drop()
collection = db.StockPrice_Finance

In [5]:
tickers = list(df["Symbol"])

for ticker in tickers:
    
    data = yf.download(ticker, start=start_date, end=end_date)
    try:
        data = data.resample('QS').mean()
        data.reset_index(inplace=True)
        data["Ticker"] = ticker
        data = data[["Ticker","Date","Close","Volume"]]
        list_dict_prices_stock = []
        for item, row in data.iterrows():
            dict_row ={
                "Ticker" : row["Ticker"],
                "Date" : row["Date"].strftime('%Y-%m-%d'),
                "Close" : row["Close"],
                "Volume" : row["Volume"]
                }
            list_dict_prices_stock.append(dict_row)
        db.StockPrice_Finance.insert_many(list_dict_prices_stock)
    except Exception as e:
        print(e)

[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

Exception in thread Thread-22:
Traceback (most recent call last):
  File "C:\Users\amy_r\Anaconda3\lib\site-packages\fix_yahoo_finance\__init__.py", line 250, in history
    quotes = self._parse_quotes(data["chart"]["result"][0])
  File "C:\Users\amy_r\Anaconda3\lib\site-packages\fix_yahoo_finance\__init__.py", line 109, in _parse_quotes
    timestamps = data["timestamp"]
KeyError: 'timestamp'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\amy_r\Anaconda3\lib\threading.py", line 917, in _bootstrap_inner
    self.run()
  File "C:\Users\amy_r\Anaconda3\lib\threading.py", line 865, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Users\amy_r\Anaconda3\lib\site-packages\multitasking\__init__.py", line 102, in _run_via_pool
    return callee(*args, **kwargs)
  File "C:\Users\amy_r\Anaconda3\lib\site-packages\fix_yahoo_finance\__init__.py", line 317, in _download_one_threaded
    period, interval, prepost)
  File "C:\Users\amy_r\Anaconda3\lib\site-packages\fix_yahoo_finance\__init__.py", line 328, in _download_one
    actions=actions, auto_adjust=auto_adjust)
  File "C:\Users\amy_r\Anaconda3\lib\site-packages\fix_yahoo_finance\__init__.py", line 253, in history
    raise ValueError(self.ticker, err_msg)
ValueError: ('AFGB', 'No data found for this date range, symbol may be delisted')

[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'
[*********************100%***********************]  1 of 1 downloaded

Exception in thread Thread-59:
Traceback (most recent call last):
  File "C:\Users\amy_r\Anaconda3\lib\threading.py", line 917, in _bootstrap_inner
    self.run()
  File "C:\Users\amy_r\Anaconda3\lib\threading.py", line 865, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Users\amy_r\Anaconda3\lib\site-packages\multitasking\__init__.py", line 102, in _run_via_pool
    return callee(*args, **kwargs)
  File "C:\Users\amy_r\Anaconda3\lib\site-packages\fix_yahoo_finance\__init__.py", line 317, in _download_one_threaded
    period, interval, prepost)
  File "C:\Users\amy_r\Anaconda3\lib\site-packages\fix_yahoo_finance\__init__.py", line 328, in _download_one
    actions=actions, auto_adjust=auto_adjust)
  File "C:\Users\amy_r\Anaconda3\lib\site-packages\fix_yahoo_finance\__init__.py", line 241, in history
    raise ValueError(self.ticker, err_msg)
ValueError: ('BAC^W', 'No data found, symbol may be delisted')

Exception in thread Thread-60:
Traceback (most recent call last):
  File "C:\Users\amy_r\Anaconda3\lib\threading.py", line 917, in _bootstrap_inner
    self.run()
  File "C:\Users\amy_r\Anaconda3\lib\threading.py", line 865, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Users\amy_r\Anaconda3\lib\site-packages\multitasking\__init__.py", line 102, in _run_via_pool
    return callee(*args, **kwargs)
  File "C:\Users\amy_r\Anaconda3\lib\site-packages\fix_yahoo_finance\__init__.py", line 317, in _download_one_threaded
    period, interval, prepost)
  File "C:\Users\amy_r\Anaconda3\lib\site-packages\fix_yahoo_finance\__init__.py", line 328, in _download_one
    actions=actions, auto_adjust=auto_adjust)
  File "C:\Users\amy_r\Anaconda3\lib\site-packages\fix_yahoo_finance\__init__.py", line 241, in history
    raise ValueError(self.ticker, err_msg)
ValueError: ('BAC^Y', 'No data found, symbol may be delisted')

Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded

# Health Care Companies Stock Data

In [6]:
# Extracted from https://www.nasdaq.com/screening/company-list.aspx
file_path = "Resources/companylist.csv"
df = pd.read_csv(file_path)
df = df[["Symbol","Name","LastSale","MarketCap","IPOyear","Sector","industry","Summary Quote"]]

df = df.loc[df["Sector"]=="Health Care"]
df = df.iloc[0:50,:]
start_date = "2004-05-03"
end_date = "2019-05-03"

df.head()

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote
1,MMM,3M Company,185.22,$106.77B,NaN,Health Care,Medical/Dental Instruments,https://www.nasdaq.com/symbol/mmm
8,AAC,"AAC Holdings, Inc.",1.97,$49.84M,2014.0,Health Care,Medical Specialities,https://www.nasdaq.com/symbol/aac
12,ABT,Abbott Laboratories,78.69,$138.22B,NaN,Health Care,Major Pharmaceuticals,https://www.nasdaq.com/symbol/abt
13,ABBV,AbbVie Inc.,78.71,$116.35B,2012.0,Health Care,Major Pharmaceuticals,https://www.nasdaq.com/symbol/abbv
69,ALC,Alcon Inc.,58.50,$28.59B,2019.0,Health Care,Ophthalmic Goods,https://www.nasdaq.com/symbol/alc

In [7]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [8]:
# Define database and collection
db = client.EcoParameters_db

db.StockPrice_Healthcare.drop()

collection = db.StockPrice_Healthcare

In [9]:
tickers = list(df["Symbol"])



for ticker in tickers:
    data = yf.download(ticker, start=start_date, end=end_date)
   
    try:
        data = data.resample('QS').mean()
        data.reset_index(inplace=True)
        data["Ticker"] = ticker
        data = data[["Ticker","Date","Close","Volume"]]
        list_dict_prices_stock = []
        for item, row in data.iterrows():
            dict_row ={
                "Ticker" : row["Ticker"],
                "Date" : row["Date"].strftime('%Y-%m-%d'),
                "Close" : row["Close"],
                "Volume" : row["Volume"]
                }
            list_dict_prices_stock.append(dict_row)
        db.StockPrice_Healthcare.insert_many(list_dict_prices_stock)
    except Exception as e:
        print(e)

[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded

# Technology Companies Stock Data

In [10]:
# Extracted from https://www.nasdaq.com/screening/company-list.aspx
file_path = "Resources/companylist.csv"
df = pd.read_csv(file_path)
df = df[["Symbol","Name","LastSale","MarketCap","IPOyear","Sector","industry","Summary Quote"]]

df = df.loc[df["Sector"]=="Technology"]
df = df.iloc[0:50,:]
start_date = "2004-05-03"
end_date = "2019-05-03"

df.head()

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote
0,DDD,3D Systems Corporation,11.15,$1.3B,NaN,Technology,Computer Software: Prepackaged Software,https://www.nasdaq.com/symbol/ddd
3,WUBA,58.com Inc.,72.45,$10.74B,2013.0,Technology,"Computer Software: Programming, Data Processing",https://www.nasdaq.com/symbol/wuba
4,EGHT,8x8 Inc,24.21,$2.32B,NaN,Technology,EDP Services,https://www.nasdaq.com/symbol/eght
7,ATEN,"A10 Networks, Inc.",6.49,$487.94M,2014.0,Technology,Computer Communications Equipment,https://www.nasdaq.com/symbol/aten
10,AAN,"Aaron&#39;s, Inc.",58.75,$3.98B,NaN,Technology,Diversified Commercial Services,https://www.nasdaq.com/symbol/aan

In [11]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [12]:
# Define database and collection
db = client.EcoParameters_db

db.StockPrice_Technology.drop()

collection = db.StockPrice_Technology

In [13]:
tickers = list(df["Symbol"])


for ticker in tickers:
    data = yf.download(ticker, start=start_date, end=end_date)
   
    try:
        data = data.resample('QS').mean()
        data.reset_index(inplace=True)
        data["Ticker"] = ticker
        data = data[["Ticker","Date","Close","Volume"]]
        list_dict_prices_stock = []
        for item, row in data.iterrows():
            dict_row ={
                "Ticker" : row["Ticker"],
                "Date" : row["Date"].strftime('%Y-%m-%d'),
                "Close" : row["Close"],
                "Volume" : row["Volume"]
                }
            list_dict_prices_stock.append(dict_row)
        db.StockPrice_Technology.insert_many(list_dict_prices_stock)
    except Exception as e:
        print(e)

[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded

# Energy Companies Stock Data

In [14]:
# Extracted from https://www.nasdaq.com/screening/company-list.aspx
file_path = "Resources/companylist.csv"
df = pd.read_csv(file_path)
df = df[["Symbol","Name","LastSale","MarketCap","IPOyear","Sector","industry","Summary Quote"]]

df = df.loc[df["Sector"]=="Energy"]
df = df.iloc[0:50,:]
start_date = "2004-05-03"
end_date = "2019-05-03"

df.head()

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote
154,APC,Anadarko Petroleum Corporation,72.72,$36.5B,NaN,Energy,Oil & Gas Production,https://www.nasdaq.com/symbol/apc
156,ANDX,Andeavor Logistics LP,34.30,$8.42B,2011.0,Energy,Natural Gas Distribution,https://www.nasdaq.com/symbol/andx
167,AR,Antero Resources Corporation,7.17,$2.22B,2013.0,Energy,Oil & Gas Production,https://www.nasdaq.com/symbol/ar
174,APA,Apache Corporation,30.59,$11.5B,NaN,Energy,Oil & Gas Production,https://www.nasdaq.com/symbol/apa
202,ARCH,"Arch Coal, Inc.",97.73,$1.64B,2016.0,Energy,Coal Mining,https://www.nasdaq.com/symbol/arch

In [15]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [16]:
# Define database and collection
db = client.EcoParameters_db

db.StockPrice_Energy.drop()
collection = db.StockPrice_Energy

In [17]:
tickers = list(df["Symbol"])

for ticker in tickers:
   
    data = yf.download(ticker, start=start_date, end=end_date)

    try:
        data = data.resample('QS').mean()
        data.reset_index(inplace=True)
        data["Ticker"] = ticker
        data = data[["Ticker","Date","Close","Volume"]]
        list_dict_prices_stock = []
        for item, row in data.iterrows():
            dict_row ={
                "Ticker" : row["Ticker"],
                "Date" : row["Date"].strftime('%Y-%m-%d'),
                "Close" : row["Close"],
                "Volume" : row["Volume"]
                }
            list_dict_prices_stock.append(dict_row)
        db.StockPrice_Energy.insert_many(list_dict_prices_stock)
    except Exception as e:
        print(e)

[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded

Exception in thread Thread-207:
Traceback (most recent call last):
  File "C:\Users\amy_r\Anaconda3\lib\threading.py", line 917, in _bootstrap_inner
    self.run()
  File "C:\Users\amy_r\Anaconda3\lib\threading.py", line 865, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Users\amy_r\Anaconda3\lib\site-packages\multitasking\__init__.py", line 102, in _run_via_pool
    return callee(*args, **kwargs)
  File "C:\Users\amy_r\Anaconda3\lib\site-packages\fix_yahoo_finance\__init__.py", line 317, in _download_one_threaded
    period, interval, prepost)
  File "C:\Users\amy_r\Anaconda3\lib\site-packages\fix_yahoo_finance\__init__.py", line 328, in _download_one
    actions=actions, auto_adjust=auto_adjust)
  File "C:\Users\amy_r\Anaconda3\lib\site-packages\fix_yahoo_finance\__init__.py", line 241, in history
    raise ValueError(self.ticker, err_msg)
ValueError: ('CPE^A', 'No data found, symbol may be delisted')

Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded

# CPI Data

In [18]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [19]:
# Define database and collection
db = client.EcoParameters_db

db.CPI.drop()
collection = db.CPI

In [20]:
file_path = "Resources/CPI-Monthly.csv"
df = pd.read_csv(file_path)
df.head()

         DATE  CPALTT01USM661S
0  1960-01-01        12.391516
1  1960-02-01        12.408393
2  1960-03-01        12.408393
3  1960-04-01        12.463241
4  1960-05-01        12.475898

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 710 entries, 0 to 709
Data columns (total 2 columns):
DATE               710 non-null object
CPALTT01USM661S    710 non-null float64
dtypes: float64(1), object(1)
memory usage: 11.2+ KB

In [22]:
df['DATE'] = pd.to_datetime(df['DATE'])
df.set_index("DATE", inplace = True) 
df.head()

            CPALTT01USM661S
DATE
1960-01-01        12.391516
1960-02-01        12.408393
1960-03-01        12.408393
1960-04-01        12.463241
1960-05-01        12.475898

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 710 entries, 1960-01-01 to 2019-02-01
Data columns (total 1 columns):
CPALTT01USM661S    710 non-null float64
dtypes: float64(1)
memory usage: 11.1 KB

In [24]:
df= df.resample('QS').mean()
df.head()

            CPALTT01USM661S
DATE
1960-01-01        12.402767
1960-04-01        12.477305
1960-07-01        12.484337
1960-10-01        12.564500
1961-01-01        12.589814

In [25]:
df.reset_index(inplace=True)
df.head()

        DATE  CPALTT01USM661S
0 1960-01-01        12.402767
1 1960-04-01        12.477305
2 1960-07-01        12.484337
3 1960-10-01        12.564500
4 1961-01-01        12.589814

In [26]:
df = df.rename(columns={'DATE': 'Date', 'CPALTT01USM661S': 'CPI'})
df.head()

        Date        CPI
0 1960-01-01  12.402767
1 1960-04-01  12.477305
2 1960-07-01  12.484337
3 1960-10-01  12.564500
4 1961-01-01  12.589814

In [27]:
list_dict_CPI = []
for item, row in df.iterrows():
    dict_row ={        
        "Date" : row["Date"].strftime('%Y-%m-%d'),
        "CPI" : row["CPI"]        
                }
    list_dict_CPI.append(dict_row)
db.CPI.insert_many(list_dict_CPI)

In [28]:
list_CPI = list(db.CPI.find())
print(list_CPI)

[{'_id': ObjectId('5ccde1fe2af975ecd16660f7'), 'Date': '1960-01-01', 'CPI': 12.402767171412435}, {'_id': ObjectId('5ccde1fe2af975ecd16660f8'), 'Date': '1960-04-01', 'CPI': 12.477304722164797}, {'_id': ObjectId('5ccde1fe2af975ecd16660f9'), 'Date': '1960-07-01', 'CPI': 12.484336566575399}, {'_id': ObjectId('5ccde1fe2af975ecd16660fa'), 'Date': '1960-10-01', 'CPI': 12.564499592856201}, {'_id': ObjectId('5ccde1fe2af975ecd16660fb'), 'Date': '1961-01-01', 'CPI': 12.589814232734403}, {'_id': ObjectId('5ccde1fe2af975ecd16660fc'), 'Date': '1961-04-01', 'CPI': 12.585595126088032}, {'_id': ObjectId('5ccde1fe2af975ecd16660fd'), 'Date': '1961-07-01', 'CPI': 12.634818036962168}, {'_id': ObjectId('5ccde1fe2af975ecd16660fe'), 'Date': '1961-10-01', 'CPI': 12.653100832429766}, {'_id': ObjectId('5ccde1fe2af975ecd16660ff'), 'Date': '1962-01-01', 'CPI': 12.7023237433039}, {'_id': ObjectId('5ccde1fe2af975ecd1666100'), 'Date': '1962-04-01', 'CPI': 12.750140285295965}, {'_id': ObjectId('5ccde1fe2af975ecd1666101'), 'Date': '1962-07-01', 'CPI': 12.786705876231101}, {'_id': ObjectId('5ccde1fe2af975ecd1666102'), 'Date': '1962-10-01', 'CPI': 12.817645991637699}, {'_id': ObjectId('5ccde1fe2af975ecd1666103'), 'Date': '1963-01-01', 'CPI': 12.8584306892192}, {'_id': ObjectId('5ccde1fe2af975ecd1666104'), 'Date': '1963-04-01', 'CPI': 12.882338960215234}, {'_id': ObjectId('5ccde1fe2af975ecd1666105'), 'Date': '1963-07-01', 'CPI': 12.9610956176139}, {'_id': ObjectId('5ccde1fe2af975ecd1666106'), 'Date': '1963-10-01', 'CPI': 12.996254839666932}, {'_id': ObjectId('5ccde1fe2af975ecd1666107'), 'Date': '1964-01-01', 'CPI': 13.049696857187435}, {'_id': ObjectId('5ccde1fe2af975ecd1666108'), 'Date': '1964-04-01', 'CPI': 13.070792390419266}, {'_id': ObjectId('5ccde1fe2af975ecd1666109'), 'Date': '1964-07-01', 'CPI': 13.10032613694377}, {'_id': ObjectId('5ccde1fe2af975ecd166610a'), 'Date': '1964-10-01', 'CPI': 13.160799998874902}, {'_id': ObjectId('5ccde1fe2af975ecd166610b'), 'Date': '1965-01-01', 'CPI': 13.201584696456365}, {'_id': ObjectId('5ccde1fe2af975ecd166610c'), 'Date': '1965-04-01', 'CPI': 13.285966829383533}, {'_id': ObjectId('5ccde1fe2af975ecd166610d'), 'Date': '1965-07-01', 'CPI': 13.325345158082902}, {'_id': ObjectId('5ccde1fe2af975ecd166610e'), 'Date': '1965-10-01', 'CPI': 13.395663602188899}, {'_id': ObjectId('5ccde1fe2af975ecd166610f'), 'Date': '1966-01-01', 'CPI': 13.5208304326975}, {'_id': ObjectId('5ccde1fe2af975ecd1666110'), 'Date': '1966-04-01', 'CPI': 13.643184525441933}, {'_id': ObjectId('5ccde1fe2af975ecd1666111'), 'Date': '1966-07-01', 'CPI': 13.761319511539966}, {'_id': ObjectId('5ccde1fe2af975ecd1666112'), 'Date': '1966-10-01', 'CPI': 13.873829022109499}, {'_id': ObjectId('5ccde1fe2af975ecd1666113'), 'Date': '1967-01-01', 'CPI': 13.908988244162499}, {'_id': ObjectId('5ccde1fe2af975ecd1666114'), 'Date': '1967-04-01', 'CPI': 13.993370377089699}, {'_id': ObjectId('5ccde1fe2af975ecd1666115'), 'Date': '1967-07-01', 'CPI': 14.134007265301634}, {'_id': ObjectId('5ccde1fe2af975ecd1666116'), 'Date': '1967-10-01', 'CPI': 14.2887078423348}, {'_id': ObjectId('5ccde1fe2af975ecd1666117'), 'Date': '1968-01-01', 'CPI': 14.429344730546767}, {'_id': ObjectId('5ccde1fe2af975ecd1666118'), 'Date': '1968-04-01', 'CPI': 14.569981618758698}, {'_id': ObjectId('5ccde1fe2af975ecd1666119'), 'Date': '1968-07-01', 'CPI': 14.766873262255436}, {'_id': ObjectId('5ccde1fe2af975ecd166611a'), 'Date': '1968-10-01', 'CPI': 14.949701216930999}, {'_id': ObjectId('5ccde1fe2af975ecd166611b'), 'Date': '1969-01-01', 'CPI': 15.132529171606533}, {'_id': ObjectId('5ccde1fe2af975ecd166611c'), 'Date': '1969-04-01', 'CPI': 15.371611881566865}, {'_id': ObjectId('5ccde1fe2af975ecd166611d'), 'Date': '1969-07-01', 'CPI': 15.5825672138848}, {'_id': ObjectId('5ccde1fe2af975ecd166611e'), 'Date': '1969-10-01', 'CPI': 15.821649923845134}, {'_id': ObjectId('5ccde1fe2af975ecd166611f'), 'Date': '1970-01-01', 'CPI': 16.074796322626636}, {'_id': ObjectId('5ccde1fe2af975ecd1666120'), 'Date': '1970-04-01', 'CPI': 16.299815343765797}, {'_id': ObjectId('5ccde1fe2af975ecd1666121'), 'Date': '1970-07-01', 'CPI': 16.468579609620097}, {'_id': ObjectId('5ccde1fe2af975ecd1666122'), 'Date': '1970-10-01', 'CPI': 16.707662319580432}, {'_id': ObjectId('5ccde1fe2af975ecd1666123'), 'Date': '1971-01-01', 'CPI': 16.848299207792405}, {'_id': ObjectId('5ccde1fe2af975ecd1666124'), 'Date': '1971-04-01', 'CPI': 17.00299978482557}, {'_id': ObjectId('5ccde1fe2af975ecd1666125'), 'Date': '1971-07-01', 'CPI': 17.1717640506799}, {'_id': ObjectId('5ccde1fe2af975ecd1666126'), 'Date': '1971-10-01', 'CPI': 17.298337250070702}, {'_id': ObjectId('5ccde1fe2af975ecd1666127'), 'Date': '1972-01-01', 'CPI': 17.4389741382826}, {'_id': ObjectId('5ccde1fe2af975ecd1666128'), 'Date': '1972-04-01', 'CPI': 17.551483648852198}, {'_id': ObjectId('5ccde1fe2af975ecd1666129'), 'Date': '1972-07-01', 'CPI': 17.692120537064167}, {'_id': ObjectId('5ccde1fe2af975ecd166612a'), 'Date': '1972-10-01', 'CPI': 17.874948491739698}, {'_id': ObjectId('5ccde1fe2af975ecd166612b'), 'Date': '1973-01-01', 'CPI': 18.1562222681636}, {'_id': ObjectId('5ccde1fe2af975ecd166612c'), 'Date': '1973-04-01', 'CPI': 18.535941866335865}, {'_id': ObjectId('5ccde1fe2af975ecd166612d'), 'Date': '1973-07-01', 'CPI': 18.901597775686934}, {'_id': ObjectId('5ccde1fe2af975ecd166612e'), 'Date': '1973-10-01', 'CPI': 19.379763195607634}, {'_id': ObjectId('5ccde1fe2af975ecd166612f'), 'Date': '1974-01-01', 'CPI': 19.956374437276633}, {'_id': ObjectId('5ccde1fe2af975ecd1666130'), 'Date': '1974-04-01', 'CPI': 20.490794612482066}, {'_id': ObjectId('5ccde1fe2af975ecd1666131'), 'Date': '1974-07-01', 'CPI': 21.067405854151097}, {'_id': ObjectId('5ccde1fe2af975ecd1666132'), 'Date': '1974-10-01', 'CPI': 21.7143355399261}, {'_id': ObjectId('5ccde1fe2af975ecd1666133'), 'Date': '1975-01-01', 'CPI': 22.17843727102557}, {'_id': ObjectId('5ccde1fe2af975ecd1666134'), 'Date': '1975-04-01', 'CPI': 22.445647358628264}, {'_id': ObjectId('5ccde1fe2af975ecd1666135'), 'Date': '1975-07-01', 'CPI': 22.89568540090657}, {'_id': ObjectId('5ccde1fe2af975ecd1666136'), 'Date': '1975-10-01', 'CPI': 23.317596065542432}, {'_id': ObjectId('5ccde1fe2af975ecd1666137'), 'Date': '1976-01-01', 'CPI': 23.5848061531451}, {'_id': ObjectId('5ccde1fe2af975ecd1666138'), 'Date': '1976-04-01', 'CPI': 23.79576148546307}, {'_id': ObjectId('5ccde1fe2af975ecd1666139'), 'Date': '1976-07-01', 'CPI': 24.175481083635333}, {'_id': ObjectId('5ccde1fe2af975ecd166613a'), 'Date': '1976-10-01', 'CPI': 24.52707330416523}, {'_id': ObjectId('5ccde1fe2af975ecd166613b'), 'Date': '1977-01-01', 'CPI': 24.977111346443497}, {'_id': ObjectId('5ccde1fe2af975ecd166613c'), 'Date': '1977-04-01', 'CPI': 25.413085699900563}, {'_id': ObjectId('5ccde1fe2af975ecd166613d'), 'Date': '1977-07-01', 'CPI': 25.76467792043047}, {'_id': ObjectId('5ccde1fe2af975ecd166613e'), 'Date': '1977-10-01', 'CPI': 26.144397518602734}, {'_id': ObjectId('5ccde1fe2af975ecd166613f'), 'Date': '1978-01-01', 'CPI': 26.594435560881}, {'_id': ObjectId('5ccde1fe2af975ecd1666140'), 'Date': '1978-04-01', 'CPI': 27.1991741801924}, {'_id': ObjectId('5ccde1fe2af975ecd1666141'), 'Date': '1978-07-01', 'CPI': 27.8320401771462}, {'_id': ObjectId('5ccde1fe2af975ecd1666142'), 'Date': '1978-10-01', 'CPI': 28.478969862921232}, {'_id': ObjectId('5ccde1fe2af975ecd1666143'), 'Date': '1979-01-01', 'CPI': 29.1962179928022}, {'_id': ObjectId('5ccde1fe2af975ecd1666144'), 'Date': '1979-04-01', 'CPI': 30.124421455001098}, {'_id': ObjectId('5ccde1fe2af975ecd1666145'), 'Date': '1979-07-01', 'CPI': 31.094815983663597}, {'_id': ObjectId('5ccde1fe2af975ecd1666146'), 'Date': '1979-10-01', 'CPI': 32.0792742011473}, {'_id': ObjectId('5ccde1fe2af975ecd1666147'), 'Date': '1980-01-01', 'CPI': 33.345006195054935}, {'_id': ObjectId('5ccde1fe2af975ecd1666148'), 'Date': '1980-04-01', 'CPI': 34.4701013007506}, {'_id': ObjectId('5ccde1fe2af975ecd1666149'), 'Date': '1980-07-01', 'CPI': 35.1170309865256}, {'_id': ObjectId('5ccde1fe2af975ecd166614a'), 'Date': '1980-10-01', 'CPI': 36.101489204009305}, {'_id': ObjectId('5ccde1fe2af975ecd166614b'), 'Date': '1981-01-01', 'CPI': 37.1000111103142}, {'_id': ObjectId('5ccde1fe2af975ecd166614c'), 'Date': '1981-04-01', 'CPI': 37.873513995479904}, {'_id': ObjectId('5ccde1fe2af975ecd166614d'), 'Date': '1981-07-01', 'CPI': 38.9282906570696}, {'_id': ObjectId('5ccde1fe2af975ecd166614e'), 'Date': '1981-10-01', 'CPI': 39.5611566540234}, {'_id': ObjectId('5ccde1fe2af975ecd166614f'), 'Date': '1982-01-01', 'CPI': 39.9127488745533}, {'_id': ObjectId('5ccde1fe2af975ecd1666150'), 'Date': '1982-04-01', 'CPI': 40.489360116222294}, {'_id': ObjectId('5ccde1fe2af975ecd1666151'), 'Date': '1982-07-01', 'CPI': 41.192544557282105}, {'_id': ObjectId('5ccde1fe2af975ecd1666152'), 'Date': '1982-10-01', 'CPI': 41.31911775667283}, {'_id': ObjectId('5ccde1fe2af975ecd1666153'), 'Date': '1983-01-01', 'CPI': 41.34724513431524}, {'_id': ObjectId('5ccde1fe2af975ecd1666154'), 'Date': '1983-04-01', 'CPI': 41.82541055423593}, {'_id': ObjectId('5ccde1fe2af975ecd1666155'), 'Date': '1983-07-01', 'CPI': 42.233257530050565}, {'_id': ObjectId('5ccde1fe2af975ecd1666156'), 'Date': '1983-10-01', 'CPI': 42.65516819468643}, {'_id': ObjectId('5ccde1fe2af975ecd1666157'), 'Date': '1984-01-01', 'CPI': 43.25990681399787}, {'_id': ObjectId('5ccde1fe2af975ecd1666158'), 'Date': '1984-04-01', 'CPI': 43.66775378981254}, {'_id': ObjectId('5ccde1fe2af975ecd1666159'), 'Date': '1984-07-01', 'CPI': 44.04747338798484}, {'_id': ObjectId('5ccde1fe2af975ecd166615a'), 'Date': '1984-10-01', 'CPI': 44.4271929861571}, {'_id': ObjectId('5ccde1fe2af975ecd166615b'), 'Date': '1985-01-01', 'CPI': 44.835039961971766}, {'_id': ObjectId('5ccde1fe2af975ecd166615c'), 'Date': '1985-04-01', 'CPI': 45.242886937786466}, {'_id': ObjectId('5ccde1fe2af975ecd166615d'), 'Date': '1985-07-01', 'CPI': 45.52416071421036}, {'_id': ObjectId('5ccde1fe2af975ecd166615e'), 'Date': '1985-10-01', 'CPI': 45.98826244530983}, {'_id': ObjectId('5ccde1fe2af975ecd166615f'), 'Date': '1986-01-01', 'CPI': 46.227345155270136}, {'_id': ObjectId('5ccde1fe2af975ecd1666160'), 'Date': '1986-04-01', 'CPI': 46.00232613413104}, {'_id': ObjectId('5ccde1fe2af975ecd1666161'), 'Date': '1986-07-01', 'CPI': 46.28359991055493}, {'_id': ObjectId('5ccde1fe2af975ecd1666162'), 'Date': '1986-10-01', 'CPI': 46.60706475344244}, {'_id': ObjectId('5ccde1fe2af975ecd1666163'), 'Date': '1987-01-01', 'CPI': 47.16961230629027}, {'_id': ObjectId('5ccde1fe2af975ecd1666164'), 'Date': '1987-04-01', 'CPI': 47.704032481495666}, {'_id': ObjectId('5ccde1fe2af975ecd1666165'), 'Date': '1987-07-01', 'CPI': 48.210325279058736}, {'_id': ObjectId('5ccde1fe2af975ecd1666166'), 'Date': '1987-10-01', 'CPI': 48.660363321337}, {'_id': ObjectId('5ccde1fe2af975ecd1666167'), 'Date': '1988-01-01', 'CPI': 49.04008291950927}, {'_id': ObjectId('5ccde1fe2af975ecd1666168'), 'Date': '1988-04-01', 'CPI': 49.602630472357106}, {'_id': ObjectId('5ccde1fe2af975ecd1666169'), 'Date': '1988-07-01', 'CPI': 50.20736909166853}, {'_id': ObjectId('5ccde1fe2af975ecd166616a'), 'Date': '1988-10-01', 'CPI': 50.75585295569516}, {'_id': ObjectId('5ccde1fe2af975ecd166616b'), 'Date': '1989-01-01', 'CPI': 51.33246419736415}, {'_id': ObjectId('5ccde1fe2af975ecd166616c'), 'Date': '1989-04-01', 'CPI': 52.16222183781474}, {'_id': ObjectId('5ccde1fe2af975ecd166616d'), 'Date': '1989-07-01', 'CPI': 52.570068813629405}, {'_id': ObjectId('5ccde1fe2af975ecd166616e'), 'Date': '1989-10-01', 'CPI': 53.10448898883484}, {'_id': ObjectId('5ccde1fe2af975ecd166616f'), 'Date': '1990-01-01', 'CPI': 54.018628762212565}, {'_id': ObjectId('5ccde1fe2af975ecd1666170'), 'Date': '1990-04-01', 'CPI': 54.55304893741797}, {'_id': ObjectId('5ccde1fe2af975ecd1666171'), 'Date': '1990-07-01', 'CPI': 55.4953160884381}, {'_id': ObjectId('5ccde1fe2af975ecd1666172'), 'Date': '1990-10-01', 'CPI': 56.43758323945817}, {'_id': ObjectId('5ccde1fe2af975ecd1666173'), 'Date': '1991-01-01', 'CPI': 56.8594939040941}, {'_id': ObjectId('5ccde1fe2af975ecd1666174'), 'Date': '1991-04-01', 'CPI': 57.19702243580277}, {'_id': ObjectId('5ccde1fe2af975ecd1666175'), 'Date': '1991-07-01', 'CPI': 57.632996789259835}, {'_id': ObjectId('5ccde1fe2af975ecd1666176'), 'Date': '1991-10-01', 'CPI': 58.1111622091805}, {'_id': ObjectId('5ccde1fe2af975ecd1666177'), 'Date': '1992-01-01', 'CPI': 58.50494549617397}, {'_id': ObjectId('5ccde1fe2af975ecd1666178'), 'Date': '1992-04-01', 'CPI': 58.95498353845223}, {'_id': ObjectId('5ccde1fe2af975ecd1666179'), 'Date': '1992-07-01', 'CPI': 59.40502158073047}, {'_id': ObjectId('5ccde1fe2af975ecd166617a'), 'Date': '1992-10-01', 'CPI': 59.925378067114735}, {'_id': ObjectId('5ccde1fe2af975ecd166617b'), 'Date': '1993-01-01', 'CPI': 60.3613524205718}, {'_id': ObjectId('5ccde1fe2af975ecd166617c'), 'Date': '1993-04-01', 'CPI': 60.797326774028825}, {'_id': ObjectId('5ccde1fe2af975ecd166617d'), 'Date': '1993-07-01', 'CPI': 61.07860055045276}, {'_id': ObjectId('5ccde1fe2af975ecd166617e'), 'Date': '1993-10-01', 'CPI': 61.58489334801583}, {'_id': ObjectId('5ccde1fe2af975ecd166617f'), 'Date': '1994-01-01', 'CPI': 61.894294502082126}, {'_id': ObjectId('5ccde1fe2af975ecd1666180'), 'Date': '1994-04-01', 'CPI': 62.245886722612}, {'_id': ObjectId('5ccde1fe2af975ecd1666181'), 'Date': '1994-07-01', 'CPI': 62.822497964281034}, {'_id': ObjectId('5ccde1fe2af975ecd1666182'), 'Date': '1994-10-01', 'CPI': 63.18815387363213}, {'_id': ObjectId('5ccde1fe2af975ecd1666183'), 'Date': '1995-01-01', 'CPI': 63.65225560473156}, {'_id': ObjectId('5ccde1fe2af975ecd1666184'), 'Date': '1995-04-01', 'CPI': 64.17261209111582}, {'_id': ObjectId('5ccde1fe2af975ecd1666185'), 'Date': '1995-07-01', 'CPI': 64.49607693400331}, {'_id': ObjectId('5ccde1fe2af975ecd1666186'), 'Date': '1995-10-01', 'CPI': 64.84766915453321}, {'_id': ObjectId('5ccde1fe2af975ecd1666187'), 'Date': '1996-01-01', 'CPI': 65.42428039620224}, {'_id': ObjectId('5ccde1fe2af975ecd1666188'), 'Date': '1996-04-01', 'CPI': 65.98682794905007}, {'_id': ObjectId('5ccde1fe2af975ecd1666189'), 'Date': '1996-07-01', 'CPI': 66.36654754722237}, {'_id': ObjectId('5ccde1fe2af975ecd166618a'), 'Date': '1996-10-01', 'CPI': 66.94315878889137}, {'_id': ObjectId('5ccde1fe2af975ecd166618b'), 'Date': '1997-01-01', 'CPI': 67.35100576470599}, {'_id': ObjectId('5ccde1fe2af975ecd166618c'), 'Date': '1997-04-01', 'CPI': 67.5057063417392}, {'_id': ObjectId('5ccde1fe2af975ecd166618d'), 'Date': '1997-07-01', 'CPI': 67.84323487344786}, {'_id': ObjectId('5ccde1fe2af975ecd166618e'), 'Date': '1997-10-01', 'CPI': 68.208890782799}, {'_id': ObjectId('5ccde1fe2af975ecd166618f'), 'Date': '1998-01-01', 'CPI': 68.34952767101089}, {'_id': ObjectId('5ccde1fe2af975ecd1666190'), 'Date': '1998-04-01', 'CPI': 68.57454669215004}, {'_id': ObjectId('5ccde1fe2af975ecd1666191'), 'Date': '1998-07-01', 'CPI': 68.92613891267996}, {'_id': ObjectId('5ccde1fe2af975ecd1666192'), 'Date': '1998-10-01', 'CPI': 69.24960375556743}, {'_id': ObjectId('5ccde1fe2af975ecd1666193'), 'Date': '1999-01-01', 'CPI': 69.502750154349}, {'_id': ObjectId('5ccde1fe2af975ecd1666194'), 'Date': '1999-04-01', 'CPI': 70.0231066407332}, {'_id': ObjectId('5ccde1fe2af975ecd1666195'), 'Date': '1999-07-01', 'CPI': 70.54346312711748}, {'_id': ObjectId('5ccde1fe2af975ecd1666196'), 'Date': '1999-10-01', 'CPI': 71.06381961350168}, {'_id': ObjectId('5ccde1fe2af975ecd1666197'), 'Date': '2000-01-01', 'CPI': 71.7670040545615}, {'_id': ObjectId('5ccde1fe2af975ecd1666198'), 'Date': '2000-04-01', 'CPI': 72.3295516074093}, {'_id': ObjectId('5ccde1fe2af975ecd1666199'), 'Date': '2000-07-01', 'CPI': 72.99054498200546}, {'_id': ObjectId('5ccde1fe2af975ecd166619a'), 'Date': '2000-10-01', 'CPI': 73.51090146838976}, {'_id': ObjectId('5ccde1fe2af975ecd166619b'), 'Date': '2001-01-01', 'CPI': 74.21408590944954}, {'_id': ObjectId('5ccde1fe2af975ecd166619c'), 'Date': '2001-04-01', 'CPI': 74.73444239583377}, {'_id': ObjectId('5ccde1fe2af975ecd166619d'), 'Date': '2001-07-01', 'CPI': 74.94539772815166}, {'_id': ObjectId('5ccde1fe2af975ecd166619e'), 'Date': '2001-10-01', 'CPI': 74.8891429728669}, {'_id': ObjectId('5ccde1fe2af975ecd166619f'), 'Date': '2002-01-01', 'CPI': 75.12822568282722}, {'_id': ObjectId('5ccde1fe2af975ecd16661a0'), 'Date': '2002-04-01', 'CPI': 75.71890061331743}, {'_id': ObjectId('5ccde1fe2af975ecd16661a1'), 'Date': '2002-07-01', 'CPI': 76.12674758913212}, {'_id': ObjectId('5ccde1fe2af975ecd16661a2'), 'Date': '2002-10-01', 'CPI': 76.5767856314104}, {'_id': ObjectId('5ccde1fe2af975ecd16661a3'), 'Date': '2003-01-01', 'CPI': 77.36435220539732}, {'_id': ObjectId('5ccde1fe2af975ecd16661a4'), 'Date': '2003-04-01', 'CPI': 77.23777900600659}, {'_id': ObjectId('5ccde1fe2af975ecd16661a5'), 'Date': '2003-07-01', 'CPI': 77.8143902476756}, {'_id': ObjectId('5ccde1fe2af975ecd16661a6'), 'Date': '2003-10-01', 'CPI': 78.10972771292074}, {'_id': ObjectId('5ccde1fe2af975ecd16661a7'), 'Date': '2004-01-01', 'CPI': 78.77072108751695}, {'_id': ObjectId('5ccde1fe2af975ecd16661a8'), 'Date': '2004-04-01', 'CPI': 79.3895233956495}, {'_id': ObjectId('5ccde1fe2af975ecd16661a9'), 'Date': '2004-07-01', 'CPI': 79.89581619321257}, {'_id': ObjectId('5ccde1fe2af975ecd16661aa'), 'Date': '2004-10-01', 'CPI': 80.75370121130554}, {'_id': ObjectId('5ccde1fe2af975ecd16661ab'), 'Date': '2005-01-01', 'CPI': 81.1615481871202}, {'_id': ObjectId('5ccde1fe2af975ecd16661ac'), 'Date': '2005-04-01', 'CPI': 81.71003205114681}, {'_id': ObjectId('5ccde1fe2af975ecd16661ad'), 'Date': '2005-07-01', 'CPI': 82.94763666741206}, {'_id': ObjectId('5ccde1fe2af975ecd16661ae'), 'Date': '2005-10-01', 'CPI': 83.72113955257777}, {'_id': ObjectId('5ccde1fe2af975ecd16661af'), 'Date': '2006-01-01', 'CPI': 84.15711390603487}, {'_id': ObjectId('5ccde1fe2af975ecd16661b0'), 'Date': '2006-04-01', 'CPI': 84.91655310237942}, {'_id': ObjectId('5ccde1fe2af975ecd16661b1'), 'Date': '2006-07-01', 'CPI': 85.71818336518758}, {'_id': ObjectId('5ccde1fe2af975ecd16661b2'), 'Date': '2006-10-01', 'CPI': 85.36659114465768}, {'_id': ObjectId('5ccde1fe2af975ecd16661b3'), 'Date': '2007-01-01', 'CPI': 86.20352126640704}, {'_id': ObjectId('5ccde1fe2af975ecd16661b4'), 'Date': '2007-04-01', 'CPI': 87.17982254437447}, {'_id': ObjectId('5ccde1fe2af975ecd16661b5'), 'Date': '2007-07-01', 'CPI': 87.73168169371816}, {'_id': ObjectId('5ccde1fe2af975ecd16661b6'), 'Date': '2007-10-01', 'CPI': 88.80783516231604}, {'_id': ObjectId('5ccde1fe2af975ecd16661b7'), 'Date': '2008-01-01', 'CPI': 89.76979147768587}, {'_id': ObjectId('5ccde1fe2af975ecd16661b8'), 'Date': '2008-04-01', 'CPI': 90.93764019739793}, {'_id': ObjectId('5ccde1fe2af975ecd16661b9'), 'Date': '2008-07-01', 'CPI': 92.33978997287113}, {'_id': ObjectId('5ccde1fe2af975ecd16661ba'), 'Date': '2008-10-01', 'CPI': 90.22503308482793}, {'_id': ObjectId('5ccde1fe2af975ecd16661bb'), 'Date': '2009-01-01', 'CPI': 89.60440249714856}, {'_id': ObjectId('5ccde1fe2af975ecd16661bc'), 'Date': '2009-04-01', 'CPI': 90.08088027441072}, {'_id': ObjectId('5ccde1fe2af975ecd16661bd'), 'Date': '2009-07-01', 'CPI': 90.85593016534676}, {'_id': ObjectId('5ccde1fe2af975ecd16661be'), 'Date': '2009-10-01', 'CPI': 91.56727154592288}, {'_id': ObjectId('5ccde1fe2af975ecd16661bf'), 'Date': '2010-01-01', 'CPI': 91.7124088145576}, {'_id': ObjectId('5ccde1fe2af975ecd16661c0'), 'Date': '2010-04-01', 'CPI': 91.68006233026883}, {'_id': ObjectId('5ccde1fe2af975ecd16661c1'), 'Date': '2010-07-01', 'CPI': 91.94881942364191}, {'_id': ObjectId('5ccde1fe2af975ecd16661c2'), 'Date': '2010-10-01', 'CPI': 92.693351109836}, {'_id': ObjectId('5ccde1fe2af975ecd16661c3'), 'Date': '2011-01-01', 'CPI': 93.6825909815189}, {'_id': ObjectId('5ccde1fe2af975ecd16661c4'), 'Date': '2011-04-01', 'CPI': 94.74777477283628}, {'_id': ObjectId('5ccde1fe2af975ecd16661c5'), 'Date': '2011-07-01', 'CPI': 95.36559262275136}, {'_id': ObjectId('5ccde1fe2af975ecd16661c6'), 'Date': '2011-10-01', 'CPI': 95.79369131046856}, {'_id': ObjectId('5ccde1fe2af975ecd16661c7'), 'Date': '2012-01-01', 'CPI': 96.33317441364966}, {'_id': ObjectId('5ccde1fe2af975ecd16661c8'), 'Date': '2012-04-01', 'CPI': 96.5365353540041}, {'_id': ObjectId('5ccde

# GDP Data

# Unemployment Data