In [12]:
import fix_yahoo_finance as yf
import pandas as pd
import requests
import pymongo
import datetime

In [22]:
# Extracted from https://www.nasdaq.com/screening/company-list.aspx
file_path = "Resources/companylist.csv"
df = pd.read_csv(file_path)
df = df[["Symbol","Name","LastSale","MarketCap","IPOyear","Sector","industry","Summary Quote"]]


df = df.loc[df["Sector"]=="Energy"]
df = df.iloc[0:50,:]
start_date = "2015-01-01"
end_date = "2019-05-03"

df.head()

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote
154,APC,Anadarko Petroleum Corporation,72.72,$36.5B,NaN,Energy,Oil & Gas Production,https://www.nasdaq.com/symbol/apc
156,ANDX,Andeavor Logistics LP,34.30,$8.42B,2011.0,Energy,Natural Gas Distribution,https://www.nasdaq.com/symbol/andx
167,AR,Antero Resources Corporation,7.17,$2.22B,2013.0,Energy,Oil & Gas Production,https://www.nasdaq.com/symbol/ar
174,APA,Apache Corporation,30.59,$11.5B,NaN,Energy,Oil & Gas Production,https://www.nasdaq.com/symbol/apa
202,ARCH,"Arch Coal, Inc.",97.73,$1.64B,2016.0,Energy,Coal Mining,https://www.nasdaq.com/symbol/arch

In [23]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [24]:
# Define database and collection
db = client.EcoParameters_db

db.StockPrice_Energy.drop()
collection = db.StockPrice_Energy

In [25]:
tickers = list(df["Symbol"])

for ticker in tickers:
    #try:
     #   data = yf.download(ticker, start=start_date, end=end_date)    
     #   flag = True
    #except Exception as e:
    #    print(e)
    #    flag = False
    
    data = yf.download(ticker, start=start_date, end=end_date)

    try:
        data = data.resample('QS').mean()
        data.reset_index(inplace=True)
        data["Ticker"] = ticker
        data = data[["Ticker","Date","Close","Volume"]]
        list_dict_prices_stock = []
        for item, row in data.iterrows():
            dict_row ={
                "Ticker" : row["Ticker"],
                "Date" : row["Date"].strftime('%Y-%m-%d'),
                "Close" : row["Close"],
                "Volume" : row["Volume"]
                }
            list_dict_prices_stock.append(dict_row)
        db.StockPrice_Energy.insert_many(list_dict_prices_stock)
    except Exception as e:
        print(e)

[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

Exception in thread Thread-182:
Traceback (most recent call last):
  File "C:\Users\alaq3\Anaconda3\lib\threading.py", line 917, in _bootstrap_inner
    self.run()
  File "C:\Users\alaq3\Anaconda3\lib\threading.py", line 865, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Users\alaq3\Anaconda3\lib\site-packages\multitasking\__init__.py", line 102, in _run_via_pool
    return callee(*args, **kwargs)
  File "C:\Users\alaq3\Anaconda3\lib\site-packages\fix_yahoo_finance\__init__.py", line 317, in _download_one_threaded
    period, interval, prepost)
  File "C:\Users\alaq3\Anaconda3\lib\site-packages\fix_yahoo_finance\__init__.py", line 328, in _download_one
    actions=actions, auto_adjust=auto_adjust)
  File "C:\Users\alaq3\Anaconda3\lib\site-packages\fix_yahoo_finance\__init__.py", line 241, in history
    raise ValueError(self.ticker, err_msg)
ValueError: ('CPE^A', 'No data found, symbol may be delisted')

[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded

In [26]:
ticker

'CMI'

In [27]:
yf.download(ticker, start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 downloaded

              Open    High     Low   Close  Adj Close   Volume
Date
2015-01-02  145.22  146.95  143.60  146.42     129.00  1248300
2015-01-05  145.21  145.44  140.87  141.46     124.63  2443200
2015-01-06  141.89  143.62  139.70  142.25     125.33  2927000
2015-01-07  143.65  144.02  140.86  142.93     125.93  1698200
2015-01-08  145.40  146.76  144.01  145.82     128.48  1555800
2015-01-09  146.43  146.62  143.28  143.60     126.52  1169100
2015-01-12  143.28  143.28  141.03  142.56     125.60   953600
2015-01-13  143.72  144.44  140.25  141.34     124.53  1346100
2015-01-14  139.22  142.45  139.22  142.40     125.46  2239800
2015-01-15  143.80  144.20  141.36  141.52     124.69  1733100
2015-01-16  141.70  142.21  139.76  140.86     124.11  2251500
2015-01-20  141.56  142.50  140.52  142.03     125.14  1694600
2015-01-21  141.27  145.09  141.24  144.73     127.52  1726800
2015-01-22  146.47  148.04  144.73  147.33     129.81  1605700
2015-01-23  146.48  147.03  144.70  145.85     128.50  1234400
2015-01-26  146.58  147.99  145.55  147.85     130.26  1265400
2015-01-27  143.33  143.76  140.03  142.27     125.35  3628100
2015-01-28  143.28  144.18  141.48  141.62     124.78  1797600
2015-01-29  141.99  142.79  139.89  142.70     125.73  1630400
2015-01-30  141.10  141.61  139.31  139.46     122.87  2456500
2015-02-02  139.86  143.34  138.90  143.01     126.00  1886500
2015-02-03  143.75  145.59  143.74  145.55     128.24  2121100
2015-02-04  145.05  145.43  143.57  144.16     127.01  1990200
2015-02-05  138.41  139.88  135.35  138.11     121.68  4435300
2015-02-06  138.21  138.40  135.56  135.86     119.70  2964500
2015-02-09  135.09  136.35  134.07  134.40     118.41  3246300
2015-02-10  134.90  135.24  133.50  134.96     118.91  2189900
2015-02-11  134.99  135.41  134.24  135.12     119.05  1804600
2015-02-12  135.48  136.78  135.35  136.63     120.38  1752600
2015-02-13  136.75  139.36  136.65  139.04     123.21  1938800
...            ...     ...     ...     ...        ...      ...
2019-03-22  157.64  157.81  154.94  155.63     155.63  1348400
2019-03-25  155.50  156.74  155.39  156.45     156.45   898300
2019-03-26  157.59  158.34  155.71  156.27     156.27   981300
2019-03-27  156.47  156.53  154.87  155.55     155.55  1371600
2019-03-28  155.90  156.85  155.24  155.99     155.99  1199900
2019-03-29  157.25  157.94  156.39  157.87     157.87  1379600
2019-04-01  159.68  162.60  159.35  162.33     162.33  1436600
2019-04-02  162.51  163.79  161.63  161.83     161.83   986400
2019-04-03  162.19  162.77  160.97  161.45     161.45   640700
2019-04-04  160.95  163.64  160.43  163.43     163.43   801600
2019-04-05  163.50  164.43  162.93  163.27     163.27   948600
2019-04-08  163.00  163.56  162.16  163.19     163.19   534300
2019-04-09  162.16  162.86  160.26  161.71     161.71   911300
2019-04-10  162.32  163.20  161.24  162.54     162.54   545800
2019-04-11  162.68  165.00  162.08  164.56     164.56   613800
2019-04-12  165.60  166.80  164.71  166.07     166.07   991000
2019-04-15  166.08  166.67  164.56  164.97     164.97  1587000
2019-04-16  166.62  167.76  165.10  167.22     167.22   970000
2019-04-17  168.13  169.37  165.75  165.96     165.96   979600
2019-04-18  166.45  168.22  166.00  167.84     167.84  1511600
2019-04-22  167.05  167.06  165.42  165.96     165.96   755600
2019-04-23  166.00  167.42  164.60  166.81     166.81  1206000
2019-04-24  166.43  167.93  165.50  166.17     166.17   699100
2019-04-25  165.04  165.77  161.68  162.14     162.14   970500
2019-04-26  162.70  163.53  161.82  163.34     163.34  1223100
2019-04-29  163.65  164.38  162.72  164.14     164.14  1498600
2019-04-30  167.54  169.45  163.83  166.29     166.29  1885100
2019-05-01  166.51  168.45  164.97  165.47     165.47  1327000
2019-05-02  165.23  166.60  163.80  166.17     166.17  1208400
2019-05-03  166.53  169.28  166.18  169.19     169.19  1296700

[1091 rows x 6 columns]